
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        
    </head>
    <body>
        {% block body %}
            <a href="details.twig">new-post</a>
        
        {% endblock %}
       
    </body>
</html>


